@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #faf5e6;
}



.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

.home-section {
  width: 100%;
  height: 100%;
  background-image: url(../images/nusantara.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  
}

.front {
  /* background: rgba(0, 0, 0, 0.6); */
  width: 100%;
  height: 100%;
}

.center-content {
  margin: 10% 25% 15% 15%;
  padding: 8%;
  background: rgba(0, 0, 0, 0.6);
  height: 50%;
  width: 70%;
  text-align: center;
  position: absolute;
  border-radius: 50px;
}

.landing-head {
  color: #fff;
  font-size: 50px;
  /* font-weight: bold; */
  font-family: gelasio;
  margin-bottom: 4%;
}

.landing-text {
  color: #fff;
  margin-bottom: 4%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-evote {
  width : 80%;
  height : 70px;
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-family: poppins;
  font-style: bold;
  font-size: 20px;
}

.definisi-head {
  font-size: 50px;
}

.jargon {
  font-family: andada;
  font-size: 30px;
  font-style: bold;
  color: #f31d47;
  margin-top: 5%;
  margin-bottom: 5%;
}

.video {
  margin-top: 4%;
  /* height: 300px; */
  height: 400px;
  width: 100%;
  padding: 0 25%;
}

.definisi {
  width: 100%;
  height: 70%;
  background-image: url(../images/desktop_definisi.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding: 4%;
  /* margin: 4%; */
}

.section-calon {
  width: 100%;
  height: 60%;
  background-image: url(../images/desktop_calon.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.section-kotak {
  width: 100%;
  height: 100%;
  background-image: url(../images/desktop_kotak.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4%;
  padding-top: 15%;
}

.section-video {
  width: 100%;
  height: 80%;
  /* height: 50%; */
  margin-bottom: 4%;
  position: relative;
  background-image: url(../images/desktop_video.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto;
}

.btn-zoom {
  width : 40%;
  height : 60px;
  background-color: #F0B60C;
  border: 4px solid #F0B60C;
  border: 0px;
  border-radius: 40px;
  color: #fff !important;
  font-family: poppins;
  font-style: bold;
  font-size: 16px;
}

.btn-voting {
  width : 40%;
  height : 60px;
  background-color: transparent;
  border: 4px solid #F0B60C;
  border-radius: 50px;
  color: #F0B60C;
  font-family: poppins;
  font-style: bold;
  font-size: 20px;
}

.btn-detail {
  width : 100%;
  height : 40px;
  background-color: #F0B60C;
  border: 4px solid #F0B60C;
  border: 0px;
  border-radius: 40px;
  color: #000 !important;
  font-family: poppins;
  font-style: bold;
  font-size: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 4% 0;
}

.card-img {
  height: 300px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.kotak {
  background-color: #c4c4c4;
  padding: 4% 4%;
  margin: 4% 12%;
  border-radius: 30px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 7px solid #FD1F4A;
  border-radius: 50%;
  display: inline-block;
}

.line {
  margin: 10% 0 10% 25%;
  height: 20px;
  width: 5px;
  background-color: #F0B60C;
  border-radius: 20px;
}

.time-img {
  width: 80%;
  height: 80%;
  margin: 5%
}

.title {
  margin: 4% 0;
}

footer {
  /* height: 50px; */
  padding: 25px;
  background-color: #2c2d2e;
  color: #fff !important ;
  position: relative;
  width: 100%;
  bottom: -100;
}

footer a {
  color: #fff !important ;
  
}


.fa-brands {
  color: #fff;
}

.img-nav {
  height: 20px;
  position: cover;
}

.subtitle {
  background-color: #F0B60C;
  border: 4px solid #F0B60C;
  border: 0px;
  border-radius: 40px;
  color: #000 !important;
  font-family: poppins;
  font-style: bold;
  font-size: 16px;
  padding: 5px 10px;
}

@media only screen and (max-width: 700px) {
  .definisi {
    width: 100%;
    height: 100%;
    background-image: url(../images/mobile_definisi.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin-bottom: 10%;
  }

  .section-calon {
    width: 100%;
    height: 100%;
    background-image: url(../images/mobile_calon.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .section-kotak {
    width: 100%;
    height: 100%;
    background-image: url(../images/mobile_kotak.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    margin: 10% 0;
    padding-top: 45%;
    position: relative;
    z-index: -1;
  }

  .line {
    margin: 10% 0 10% 49%;
    height: 20px;
    width: 5px;
    background-color: #F0B60C;
    border-radius: 20px;
  }

  .section-video {
    width: 100%;
    height: 100%;
    margin-bottom: 4%;
    position: relative;
  }

  .video {
    margin-top: 4%;
    /* height: 300px; */
    height: 400px;
    width: 100%;
    padding: 5% 10%;
  }

  .center-content {
    margin: 10% 25% 15% 12%;
    padding: 8% ;
    background: rgba(0, 0, 0, 0.6);
    height: 60%;
    width: 70%;
    text-align: center;
    position: absolute;
    border-radius: 50px;
  }
}